* {
    margin: 0;
  }
  
  .flag {
    height: 100vh;
    width: 100vw;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  .white{
      background-color: white;
  }
  .bola{
    margin-left: 41%;
    margin-top: 18%;
    border-radius: 50%;
    display: inline-block;
    height: 32vh;
    width: 17vw;   
    background-color: red;
  }