*{
    margin: 0px
}
a {
    color: blanchedalmond
}
/*#divisaoComElementosCorFundoChocolate{
    background-color: brown
}*/
.fundo-chocolate{
    background-color: brown
}
nav li{
    list-style: none;
    display: inline;
}
nav ul{
    
}