       
       
       * {
           font-family: 'Times New Roman', Times, serif;
       }
       
       body{
           background-image:url("https://vignette3.wikia.nocookie.net/simpsons/images/5/50/Wiki-background/revision/20141222131231?path-prefix=pt");

        }

        .navegacao ul li{
            display: inline;
        }
       
       h1{
           text-align: center;
           color: #FFDB1B;
           font-family: 'Chewy', cursive;
           font-size: 9em;
           text-shadow: -5px 2px white;
       }

       h2{
        text-align: left;
        font-size: 2.5em;
        font-family: 'Crete Round', serif;
        color: darkgoldenrod;    
        }

        h3{
        font-family: 'Chewy', cursive;
        font-size: 1.5em;
        color: darkgoldenrod;
        text-align: left;
        }

         #cabecalho {
        width: 100%;
        padding: 10px;
        text-align: center;
         }

        li{
          display: inline;
          font-size: 1.2rem;
          margin-left: 1.2rem;
         }
         .garota{
             width: 35%;
             display: table-cell;
             float: left;
         }
         .moe{
             display: table-cell;
             float: left;
         }
         .krustyburguer{
             display: table-cell;
             float: left;
         }
         .krustyland{
             display: table-cell;
             float: left;
         }
         familia{
             display: table-cell;
             float: left;
         }
         span {
             text-align: justify;
         }
         footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 10px 0 0 10px;
            text-align: center;
          }
          .texto{
              display: table-cell;
              float: left;
              width: 300px;
              margin: 0 auto;
              margin-right: 20px;
          }

          .ondeComer{

          }

          .centralizado{
            text-align: center;
          }

          .ondeBeber{
              height: 10px;
          }
          
          li{
            font-size: 10px;

          }

          footer {
              margin: 0px auto;
              text-align: center;
          }