/*CSS da página Springfield*/
body{
    background-image:url("https://vignette3.wikia.nocookie.net/simpsons/images/5/50/Wiki-background/revision/20141222131231?path-prefix=pt");
}
h1{
    text-align: center;
    color: #FFDB1B;
    font-family: 'Chewy', cursive;
    font-size: 9em;
    text-shadow: -5px 2px white;
}

h2{
    text-align: center;
    color: #FFDB1B;
    font-family: 'Chewy', cursive;
    font-size: 9em;
}