       body{
           background-image:url("https://vignette3.wikia.nocookie.net/simpsons/images/5/50/Wiki-background/revision/20141222131231?path-prefix=pt");
           font-family: 'Chewy', cursive;
        }
        .corpo{
            margin:auto;
            width: 960px;
        }

       h1 {
           text-align: center;
           color: #FFDB1B;
           font-size: 8em;
           text-shadow: -5px 2px white;
       }

       .bemVindo{
           text-align: center;
       }

       .conteudo{
           text-align: center;
       }

       .conteudo img{
           border: 1px solid grey;
           border-radius: 50%;
       }

       .conteudo h2{
           text-align: center;
       }

       .imagem{
  
       }
       .texto{
           display: table-cell;
           float: left;
           width: 300px;
           margin-top: -20px;
       }
       h2{
           text-align: left;
           font-size: 2.5em;
           font-family: 'Crete Round', serif;
           color: darkgoldenrod;    
       }
       h3{
           font-size: 1.5em;
           color: darkgoldenrod;
           text-align: center;
       }
       span{
           color: black;
           text-align: justify;
       }
       p{
           text-align: justify;
           text-indent: 50px;
       }
        img.familia{
            width: 20%;
            height: 100%;
            float:left;
            /*border: 1px solid;*/
            /*border-radius: 10px;*/
            /*background: darkblue;*/

        }
       img.ondecomer{
            width: 12%;
            height: 50%;
            float: right;
       }
       img.ondebebergarota{
            width: 12%;
            height: 50%;
            float: right;
       }
       img.ondebebermoe{
           width: 12%;
           height: 50%;
           float: right;
       }
       img.divertir{
            width: 12%;
            height: 50%;
            float: right;
       }
      
       .conteudo{
           padding: 1.5em;
       }

       footer {
        background-color: #FFDB1B;
        margin: 0px auto;
        text-align: center;
        height: 50px;
        }

    .imagemDivertir {
        display: block;
        float: none;
        margin: 0 auto;
    }

    .ondecomer{
        display: block;
        float: none;
        margin: 0 auto;
        
    }