* {
    margin: 0;
  }
  
  .flag {
    height: 100vh;
    width: 100vw;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .h-45 {
    height: 45vh;
  }
  
  .h-10 {
    height: 185px;
  }
  
  .w-20 {
    width: 20vw;
  }
  
  .w-10 {
    width: 185px;
  }
  
  .w-70 {
    width: 70vw;
  }
  
  .white {
    background-color: #ffffff;
  }
  
  .blue {
    background-color: #002f6c;
  }