*{
    margin:0;
}
.flag {
    height: 100vh;
    width: 100vw;
  }
.container{
    display: flex;
    flex-direction: column;
}
  .red{
    height: 90vh;
    background-color: red;
  }
  .white{
    height: 120vh;
    background-color: white;
  }
  .linha{
    margin: 0 auto;
  }
  .flag :nth-child(2){
    display: flex;
    justify-content: center;
  }
