<html>
<head>
    <title>PokeDex by Vue.JS</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Coda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Khula" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="src/style.js"></script>
 <style>
 body{
    text-align: center;
    background-color: rgb(3, 3, 102)
}
li{
    list-style: none;
    text-align: center; 
}
#cabecalho1{
    font-size: 90%;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#pokemon-logo{
    height: 20%;
    weight: 20%;
    align-content: center;
}
ul{
    text-align: center;    
}

#informe{
    font-family: 'Khula', sans-serif;
    color: whitesmoke;
    font-size: 1.3em;
}
#bemvindo{
    font-family: 'Playfair Display SC', serif;
    font-size: 3em;
    text-align: center;
    color: #E85B43;
    text-decoration-style: dashed;
    
}
#pikachu{
    height: 30%;
    weight: 30%;
    align-content: center;
}
#resultado{
    font-family: 'Coda', cursive;
    color: white;
    font-size: 1.0em;
}
#imagem-pokemon{
    height: 30%;
    weight: 30%;
}
#pokemon-id,#pokemon-nome{
    font-size: 1.2em;
    text-decoration-style: dashed;
    color: rgb(255, 196, 0);
}

 </style>
<body>
    <section id="meuPrimeiroApp">
        <div id="topo">
            <h1 id="bemvindo">Bem-vindo a PokeDex</h1>
            <img id="pokemon-logo"src="https://logodownload.org/wp-content/uploads/2017/08/pokemon-logo.png" alt="pokemon"><br>
            <img id="pikachu"src="https://pre00.deviantart.net/8123/th/pre/f/2016/322/c/c/vector__599___ash_and_pikachu_by_dashiesparkle-daosq4h.png" alt="pikachu">
        </div><br><br><br><br>
        <div id="corpo">
            <span id="informe">Escolha o ID de um pokemon entre 1 e 802</span><br><br>
            <input type="text" placeholder="ex: 103" v-on:blur="buscar()" v-model="idParaBuscar">
            <button v-on:click="estouComSorte()"v-model="idParaBuscar">Estou com sorte</button>
        </div><br>
        <div id="resultado">
            <li id="pokemon-id" v-show="idParaBuscar > 0"><b>ID</b>: {{idParaBuscar}}</li>
            <li id="pokemon-nome" v-show="idParaBuscar > 0"><b>Nome</b>: {{pokemon.nome}}</li>
            <img id="imagem-pokemon"v-bind:src="pokemon.thumbUrl" v-bind:alt="pokemon.nome">
            
            <li v-show="idParaBuscar > 0"><b>Altura</b>: {{pokemon.altura}} cm</li>
            <li v-show="idParaBuscar > 0"><b>Peso</b>: {{pokemon.peso}} kg</li>
            <ul v-show="idParaBuscar > 0"><b>Tipo(s)</b>:
                <li v-for="tipo in pokemon.tipos">{{ tipo }}</li>
            </ul>
            <ul id="estatisticas" v-show="idParaBuscar > 0"><b>Estatística(s)</b>:
                <li v-for="estatistica in pokemon.estatisticas"><span>{{ estatistica.split(" ")[0] }}: </span>{{
                    estatistica.split(" ")[1] }}</li>
                </ul>
            </div>
        </section>
        <script src="src/pokemon.js"></script>
        <script src="src/pokeApi.js"></script>
        <script src="src/app.js"></script>
    </body>
    </html>