* {
    margin: 0;
  }
  
  .flag {
    height: 100vh;
    width: 100vw;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  .black{
    height: 100vh;
    background-color: black;
  }
  .red{
    height: 100vh;
    background-color: red;
  }
  .yellow{
    height: 100vh;
    background-color: yellow;
  }