* {
    margin: 0;
  }
  
  .flag {
    height: 100vh;
    width: 100vw;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  .blue{
    height: 100vh;
    background-color: blue;
  }
  .white{
    height: 100vh;
    background-color:white;
  }
  .yellow{
    height: 100vh;
    background-color: yellow;
  }