* {
  margin: 0;
}

.flag {
  height: 12vh;
  width: 25vw;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.h-45 {
  height: 17vh;
  width: 50vw;
}

.h-10 {
  height: 60px;
  width: 50vw;
}

.w-20 {
  width: 10vw;
  
}

.w-10 {
  width: 60px;
}

.w-70 {
  width: 10vw;
}

.white {
  background-color: #ffffff;
}

.blue {
  background-color: #0d5eaf;
}

.column{
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.listra{
  height: calc(100vw / 9/3);
}