i<template>
    <section>
        <h1>{{ usuario }}, seja bem-vindo!</h1>
        <select v-model="opcaoSelecionada" v-on:change="onChange">
            <option v-for="opcao in opcoes" v-bind:key="opcao.id" v-bind:value="opcao">
                {{ opcao.texto }}
            </option>
            </select>
        <h3 v-show="opcaoSelecionada.text">Selecionado: {{ opcaoSelecionada.texto }}</h3>
                <div class="table-responsive">
            <TabelaPokemon v-bind:listasPokemon="listasPokemon"/>
        </div>
        <Button v-bind:texto="textoCarregar" v-bind:click="carregarMais"/>
    </section>
</template>

<script>
import PokeApi from'../../api/pokeApi.js'
import Button from'../shared/Button.vue'
import PokemonLinha from'../shared/PokemonLinha.vue'
import TabelaPokemon from'../shared/TabelaPokemon.vue'

export default {
    name: 'Home',

    components: { //eu dependo desses componentes abaixo
        Button,
        PokemonLinha,
        TabelaPokemon
    },
    data: () =>{
        return{ // representa os dados que a tela vai ter
            usuario:'',
            opcoes: [
                {id:1, texto: 'Normal'},
                {id:2, texto: 'Lutador'},
                {id:3, texto: 'Voador'},
            ],
            opcaoSelecionada: {},
            listasPokemon: [],
            qtdPokemonsPagina: 10,
            paginaAtual:1,
            textoCarregar: 'Carregar mais'
        }
    },
    methods: {
        //executa o carregamento da lista de pokemons na home #primeira lista de pokemons
        async onChange(){
            const pokeApi = new PokeApi()
            let novosPokemons = await pokeApi.listarPorTipo( this.opcaoSelecionada.id, this.qtdPokemonsPagina, this.paginaAtual )
            this.listasPokemon = novosPokemons
            console.log(`${this.opcaoSelecionada.id} - ${this.opcaoSelecionada.texto}`)
            console.log(this.listasPokemon)
            
        },
        //executa o carregamento de novos a lista de pokemons na home
        async carregarMais(){
            this.paginaAtual = this.paginaAtual +1
            const pokeApi = new PokeApi()
            let novosPokemons = await pokeApi.listarPorTipo( this.opcaoSelecionada.id, this.qtdPokemonsPagina, this.paginaAtual )
            this.listasPokemon = [...this.listasPokemon, ...novosPokemons]
        }
    },
    created(){
        this.usuario = this.$route.params.usuario
    }
}
</script>
