<template>
<form v-on:submit.prevent="onSubmit">
    <Emailinput nome="usuario" ref="usuarioRef"/>
    <Passwordinput type="password" ref="senhaRef"/>
    <Button v-bind:texto="textoBotao" v-bind:click="noop" type="submit" /> <!--inserindo o button criado no shared-->
</form>
</template>

<script>
import Button from '../shared/Button.vue'//.. retorna a página screens para depois acessar a mesma
import Emailinput from'../shared/Emailinput.vue'
import Passwordinput from '../shared/Passwordinput.vue'

export default {
    name: 'Login',
    components: {
        Button, Emailinput, Passwordinput
    },
    data: () => {
        return {
            textoBotao: 'Entrar'
        }
    },
    methods:{
        onSubmit(){
            // console.log(`ref: ${ this.$refs.usuarioRef.valor }`)
            // console.log(`ref: ${ this.$refs.senhaRef.valor }`)
            const usuario = this.$refs.usuarioRef.valor,
                senha = this.$refs.senhaRef.valor

                const podeLogar = usuario === 'admin@dbccompany.com.br' && senha === 'admin'
                if(podeLogar){
                    this.textoBotao = 'Aguarde'
                    setTimeout( () => {
                    this.$router.push( { name: 'home', params: { usuario} } )

                },2000)
            }
        },
        noop(){}
    }
}
</script>
