<template>
    <button class="btn btn-outline-success" v-on:click="click">{{ texto }}</button>
</template>

<script>
export default {
    name: 'Button',
    props: {
        texto: String,
        click: Function
    }
}
</script>

<style>
.button{
    background-color: #31b888;
    color:white;
    border-block-end-color: #31b888;
}
</style>
