<template>
    <div class="form-group">
        <label for="exampleInputEmail1"></label>
        <input type="text" 
                v-validate="'required|email|email-dbc'"  
                v-bind:name="nome"  
                v-model="valor" 
                class="form-control" 
                id="exampleInputEmail1" 
                aria-describedby="emailHelp" 
                placeholder="usuario@dbccompany.com.br"
        >
        <small id="emailHelp" class="form-text text-muted"></small>
        <div v-show="errors.has(this.nome)" class="alert alert-danger" role="alert">
         <span>{{errors.first( this.nome ) }}</span> <!--array de erros, função first retorna o primeiro erro -->
        </div>
  </div>
</template>

<script>

export default {
    name: 'Emailinput',
    props: {
        nome: String
    },
    data: () => {
        return {
            valor: ''
        }
    },
    created() {
        this.$validator.extend('email-dbc' , {
            getMessage: () => 'Somente serão válidos emails no domínio dbccompany.com.br',
            validate: (valor) => {
                const split = valor.split('@')
                const dominio = 'dbccompany.com.br'
                return split[1] === dominio;
            }
        })

        }
    }
</script>

<style>
input, select {
   width: 50%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}
</style>

