<template>
    <div class='form-group'>
        <label v-bind:for="nome"></label>

    <input type="password" 
                v-validate="'required|min:1'"  
                v-bind:name="nome"  
                v-model="valor" 
                class="form-control"  
                placeholder="senha"
                v-bind:id="nome"
    >
        <div v-show="errors.has(this.nome)" class="alert alert-danger" role="alert">
          <!--array de erros, função first retorna o primeiro erro -->
        </div>
        <span>{{errors.first( this.nome ) }}</span>
    </div>
</template>

<script>
export default {
    name: 'Passwordinput',
    props: {
        nome: String
    },
    data: () =>{
        return{
            valor:''
        }
    }
}
</script>

