<template>
    <tr>
        <th scope="row">{{ pokemon.id }}</th>
        <td>{{ pokemon.nome }}</td>
        <td><img v-bind:src="pokemon.img"></td>
        <td>{{ pokemon.altura }} cm</td>
        <td>{{ pokemon.peso }} kg</td>
    </tr>
</template>

<script>
import Pokemon from '../../models/pokemon.js'

export default {
    name: 'PokemonLinha',
    props: {
        pokemon: Pokemon //pode ser a classe no caso Pokemon
    }
}
</script>

