<template>
    <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Imagem</th>
                <th scope="col">Altura</th>
                <th scope="col">Peso</th>
                </tr>
            </thead>
            <tbody>
                <PokemonLinha v-bind:pokemon="pokemon" v-bind:key="pokemon.id" v-for="pokemon in listasPokemon"/>
            </tbody>
            </table>
</template>

<script>
import PokemonLinha from '../shared/PokemonLinha.vue'
export default {
    name: 'TabelaPokemon',
    props: {
        listasPokemon: Array
    },
    components: {
        PokemonLinha
    } 
}
</script>

